body{

background:#0b0b0b;
color:white;
font-family:Arial;
margin:0;

}


header{

background:#111;
padding:20px;
border-bottom:3px solid #ff0000;

}


.logoRow{

display:flex;
align-items:center;
gap:20px;

}

.logo{

width:80px;

}

h1{

color:#ff0000;
margin:0;

}


.tag{

color:#aaa;
font-size:14px;

}



.dash{

display:flex;
justify-content:center;
gap:40px;
padding:40px;
flex-wrap:wrap;

}


.dashCard{

background:#151515;
border:1px solid #ff0000;
padding:20px;
width:200px;
text-align:center;
border-radius:10px;
transition:0.2s;

}

.dashCard:hover{

transform:scale(1.05);

}

.dashCard img{

width:80px;

}



.askBox{

text-align:center;
padding:40px;

}


input{

width:60%;
padding:14px;
font-size:16px;
border-radius:6px;
border:none;

}


button{

padding:14px 26px;
margin-left:10px;
background:#ff0000;
border:none;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;

}


button:hover{

background:#cc0000;

}



#response{

max-width:900px;
margin:auto;
margin-top:40px;
font-size:18px;
background:#121212;
padding:30px;
border-left:5px solid red;
border-radius:6px;

}


footer{

margin-top:60px;
text-align:center;
padding:20px;
color:#888;

}
